<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Últimas reseñas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"></head>
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/styles.css' %}">
</head>
<body>
    {% block content %} 
    <nav class="navbar-expand fixed-top" > <!-- style="position: fixed; z-index: 100; width: 100%;" -->
        <div class="p-2 morado-oscuro container-fluid">
          <div class="row row-cols-auto text-center d-flex align-items-center">
            {% if user.is_authenticated %}
            <div class="col-3">
              <a class="text-white navbar-brand" href="{% url 'ShowReviews' %}"><img src="{% static 'reviews/opicards.png' %}" width="180" height="58"></img></a>
            </div>
            {%else%} 
            <div class="col-2">
              <a class="text-white navbar-brand" href="{% url 'ShowReviews' %}"><img class="mx-3" src="{% static 'reviews/opicards.png' %}" width="180" height="58"></img></a>
              </div>
            {%endif%}
              <div class="col-2">
                <a class="text-white nav-link border border-2 border-light rounded-pill" href="{% url 'ShowReviews' %}">Inicio</a>
              </div>
              <div class="col-2">
                  <a class="text-white nav-link" href="{% url 'CreateReview' %}">Crear reseña</a>
              </div>
              <div class="col-2">
                <a class="text-white nav-link" href="{% url 'myReviews' %}">Mis reseñas</a>
              </div>
              {% if user.is_authenticated %}
            <div class="col-3">
                <a class="text-white nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
              </div>
            {%else%}  

            <div class="col-2">
              <a class="text-white nav-link" href="{% url 'register_user' %}">Registrarse</a>
            </div>
            <div class="col-2">
                <a class="text-white nav-link" href="{% url 'login' %}">Iniciar sesión</a>
              </div>
            {%endif%}
          </div>
        </div>
      </nav>
      <div id="top" class="bg-light container-fluid min-vh-100 contenido pt-5">
        <div class="row row-cols-auto">
          {% if user.is_authenticated %}
          <div class="col-2 morado-oscuro contenido2 py-3">
          <div class="h-100 border border-2 rounded border-light">
            <div class="row p-5 justify-content-center"> 
              <img src="{% static 'reviews/user.png' %}" class="rounded-circle img-fluid">
            </div>        
            <div class="row text-white text-center m-1">
              <div class="pb-2 fs-4">Mi perfil</div>
              <div class="container-fluid justify-content-center">
                <div style="font-size: 12px;" class="row row-cols-1">
                  <div class="col mt-2">{{ user.first_name }}</div>
                  <div class="col mt-2">{{ user.last_name }}</div>
                  <div class="col mt-2">{{ user.username }}</div>
                  <div class="col mt-2">{{ user.email }}</div>
                  <div class="col mt-2">{{ user.birthdate }}</div>
                  <div class="col mt-2">{{ user.country }}</div>
                </div>
              </div>
            </div>
          </div>
          </div>
          {%else%}
          <div class="col-1 contenido2 py-3"></div>
          {%endif%}
          <div class="col-10 bg-light">
            <div class="container-fluid contenido">
        <div class="row row-cols-auto min-vh-100 mb-5">
          <div class="col-2">
          </div>
          <div class="col-8">
            <div class="pb-1 fs-1">Últimas reseñas</div>
            <div class="p-2 mb-3">
              <form class="d-flex flex-row" action="{% url 'filterAllReviews' %}" method="post">
              {% csrf_token %}
              <div class="col-5"> 
                  {{filterForm.username}}      
              </div>
              <div class="col-5 px-4">
                {{filterForm.category}}
              </div>
              <div class="col">  
                <input class="btn btn-danger" type="submit" value="Filtrar">
              </div>
            </form>
            </div>  
            {% if filtros %}
              <div> Mostrando resultados para:</div>

              {% if filtros.0 %}
              <div> Nombre de usuario: {{filtros.0}} </div>
              {% endif %}

              {% for category in categories %}
                      {% if category.id == filtros.1  %}
                      <div>Categoría: {{category.name}}</div>
                      {% endif %}
                    {% endfor %}
              
            {% endif %}

            <div class="card-text">
              <span class="card-text">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="card-text">{{ page_obj.number }}</span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
            </div>

            {% for obj in page_obj  %}
                
                <div class="card borde morado-claro my-4">
                  <div class="row row-cols-auto card-header mx-1">
                    <div class="col-1 p-1 justify-content-center"> 
                      <img src="{% static 'reviews/user.png' %}" class="rounded-circle img-fluid">
                    </div>
                    <h5 class="col-4 mt-3 h-100">{{ obj.author_nickname }}</h5>
                    <!-- <div class="col-3"></div> -->
                    {% for category in categories %}
                      {% if category.id == obj.category %}
                      <h5 style="text-align: right;" class="col-7 h-100 mt-3 card-title justify-content-right">{{ category.name }}</h5>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <br>
                  <div class="row">
                    {% if obj.object_image %}
                    <div class="col-8">
                      <div class="card-body px-4">
                        <h5 class="card-text">Producto: {{ obj.product_name }}</h5>
                        <p class="card-text">{{ obj.content }}</p>
                        <p class="card-text">Calificación: {{ obj.punctuation }}</p>
                      </div>
                    </div>
                    <div class="col-4 p-1 d-flex align-items-center">
                      <img src="{{ obj.object_image.url }}" width="200" height="200">
                    </div>
                    {% else %}
                    <div class="col">
                      <div class="card-body px-4">
                        <h5 class="card-text">Producto: {{ obj.product_name }}</h5>
                        <p class="card-text">{{ obj.content }}</p>
                        <p class="card-text">Calificación: {{ obj.punctuation }}</p>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  {% if user.is_authenticated %}
                  <div class="card-body px-4">
                    <div class="row mb-2">
                      <div class="col-1"></div>
                      <div class="col">
                        <div class="text-align d-flex justify-content-end">
                          <a class="btn text-center morado-oscuro text-white" href="{% url 'details' obj.id %}">Ver más</a>
                        </div> 
                      </div>
                      <div class="col d-flex justify-content-start">
                        {% if user.id == obj.author_nickname.id %}
                        <form action="{% url 'delete' obj.id %}" method="post">
                          {% csrf_token %}
                          <div class="text-center">
                            <input class="btn btn-danger" type="submit" value="Eliminar">
                          </div>
                        </form>
                        {%endif%}
                      </div>
                      <!-- votar dislike -->
                      <div class="col-2 d-flex justify-content-end">
                        <form class="" action="{% url 'dislike' obj.id %}" method="post">
                          {% csrf_token %}
                          <div class="text-center">
                            {{obj.dislikes}}
                            <input class="bg-transparent" style="background-image: url('../../static/reviews/hand-thumbs-down-fill.svg'); border:none; background-repeat:no-repeat;background-size:100% 100%;" type="submit" value="   ">
                          </div>
                        </form>
                      </div>

                      <!-- votar like -->
                      <div class="col-2 d-flex justify-content-start">
                        <form class="" action="{% url 'like' obj.id %}" method="post">
                          {% csrf_token %}
                          <div class="text-center">
                            {{obj.likes}}
                            <input class="bg-transparent" style="background-image: url('../../static/reviews/hand-thumbs-up-fill.svg'); border:none; background-repeat:no-repeat;background-size:100% 100%;" type="submit" value="   ">
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="row my-3">
                      
                      
                      
                      
                    </div>
                    <!-- <div class="col-8"> -->
                      <form action="{% url 'comment' obj.id %}" method="post">
                        {% csrf_token %}
                        <div class="text-left mb-2">Comentario:</div> 
                        <div>
                          <textarea class="form-control" name="comment" id="content" rows="3" placeholder="Haz tu comentario..."></textarea>
                        </div>
                    <div class="row">
                          <div class="mt-3 text-center col">
                            <input class="btn text-white morado-oscuro" type="submit" value="Comentar">
                          </div>
                        </form>
                      <!-- </div> -->
                    </div>

                    {% endif %}

                    

                    
                  </div>
                </div>
                {% for com in comments %}
                  {%if com.id_review == obj%}
                  <div class="card px-3 borde morado-claro mx-1 my-4">
                    <div class="row row-cols-1 d-flex justify-content-center">
                        <div class="row card-header mx-1">
                            <div class="col-9">
                                <h5 class="card-text">Usuario: {{ com.username }}</h5>
                            </div>
                            <div class="col-3">
                                <p class="card-text">{{ com.creation_date }}</p>
                            </div>
                        </div>
                        <div class="row p-3">
                           <p class="card-text">{{ com.content }}</p> 
                        </div>
                        <div class="row m-2 d-flex justify-content-center">
                          {% if user.id == com.username.id %}
                            <div class="col-6 d-flex justify-content-end">
                                <a class="btn morado-oscuro text-white" href="{% url 'modifyComment' com.id %}">Modificar</a>
                                
                            </div>
                            <div class="col-6 d-flex justify-content-start">
                               
                            <form action="{% url 'deleteComment' com.id %}" method="post">
                            {% csrf_token %}
                                <div class="text-center">
                                    <input class="btn btn-danger" type="submit" value="Eliminar">
                                </div>
                            </form>
                            {%endif%} 
                            </div>
                        </div>
                    </div>
                  </div>
                  {%endif%}
                {% endfor %}
                {% endfor %}

                

                {% if not page_obj  %}
                <div class="pb-1 fs-1"> No se encontraron resultados :(</div>
                {% endif %}
          
      </div>
          </div>
        </div>
    </div>
    {% endblock %}
</body>
<footer>
  <div class="bg-transparent fixed-bottom">
    <a class="btn rounded-circle morado-oscuro float-end m-3" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" class="bi bi-arrow-up" viewBox="0 0 17 15">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
      </svg>
    </a>
  </div>
</footer>
</html>