<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Created Review</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"></head>
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/styles.css' %}">

</head>
<body class="container morado-oscuro">
    {% block content %}
    <nav class="navbar-expand" > <!-- style="position: fixed; z-index: 100; width: 100%;" -->
        <div class="p-4 morado-oscuro  container-fluid">
          <div class="row row-cols-auto text-center">
            <div class="col-2">
                <a class="text-white navbar-brand" href="{% url 'ShowReviews' %}">Nombre appweb</a>
              </div>
              <div class="col-2">
                <a class="text-white nav-link" href="{% url 'ShowReviews' %}">Inicio</a>
              </div>
              <div class="col-2">
                  <a class="text-white nav-link" href="{% url 'CreateReview' %}">Crear reseña</a>
              </div>
              <div class="col-2">
                <a class="text-white nav-link" href="#">Mis reseñas</a>
              </div>
              {% if user.is_authenticated %}
            <div class="col-2">
                <a class="text-white nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
              </div>
            {%else%}  


            <div class="col-2">
              <a class="text-white nav-link" href="{% url 'register_user' %}">Registrarse</a>
            </div>
            <div class="col-2">
                <a class="text-white nav-link" href="{% url 'login' %}">Iniciar sesión</a>
              </div>
            {%endif%}
          </div>
        </div>
      </nav>

      <div class="block">
    {% for obj in reviews %}

    <div class="card borde morado-claro">
      <h5 class="card-header">{{ obj.product_name }}</h5>
      <div class="card-body">

        {% for category in categories %}
          {% if category.id == obj.category  %}
          <h5 class="card-title">{{ category.name }}</h5>
          {% endif %}
        {% endfor %}

        <p class="card-text">{{ obj.content }}</p>
        <p class="card-text">{{ obj.punctuation }}</p>
        {% if user.id == obj.author_nickname.id %}
        <form action="{% url 'delete' obj.id %}" method="post">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Delete">
          {%endif%}
      </form>
      </div>
    </div>
    <br>

    <!-- <div class="row">
    <div class="col-3"></div>
    <div class="pt-5 col-8 morado-claro bg-info">
        <p>Object ID: {{ obj.id }}</p>
        <p>Producto: {{ obj.product_name }}</p>
        <p>Reseña: {{ obj.content }}</p>
        <p>Puntuación: {{ obj.punctuation }}</p>
        <form action="{% url 'delete' obj.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="{{obj.id}}">
        </form>
    </div>
</div> -->
{% endfor %}
</div>
    {% endblock %}
    
</body>
</html>